.about {
  padding: 0 1rem;
  margin: auto;
  max-width: 48rem;
  text-align: left;
  font-size: 1.4rem;
}
.about h1 {
  margin-bottom: 0;
}
.about h1 + p {
  margin-top: 1rem;
}
.about p, .about p > a {
  font-family: 'Crimson Text', serif;
  color: rgba(0,0,0,0.8);
  margin: 2rem 0;
}