.app {
  text-align: center;
  margin: auto;
}
.app > section {
  margin-top: 2rem;
}
.app > section > h1 {
  text-align: left;
  font-size: 1.8rem;
  margin: 0;
}
footer {
  font-size: 0.8em;
  padding: 2rem 1em;
}
.top-border {
  border-image: linear-gradient(to right, cornflowerblue, gold, salmon) 1;
  border-top: 6px solid;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
}