.projects {
  padding: 0 1rem;
  margin: auto;
  max-width: 48rem;
}
.projects > div {
  margin-top: 2rem;
}
.category > h3 {
  margin: 1rem 0;
  text-transform: capitalize;
  text-align: left;
}
.projects > .projects-container {
  display: flex;
  margin-top: 1rem;
}
.projects-container > button {
  flex: 0 1 2.5rem;
  background: none;
  outline: none;
  border: none;
  margin: 4px auto;
  padding: 0 10px;
  cursor: pointer;
  overflow: hidden;
  transition: background 0.35s ease-in-out;
}
.projects-container > button > img {
  position: relative;
  z-index: -1;
  max-width: 100%;
  opacity: 0.2;
  transition: opacity 0.35s ease-in-out;
}
.projects-container > button:hover > img {
  opacity: 0.6;
}
.projects-list {
  flex: 1 0;
  position: relative;
  display: flex;
  overflow: auto;
  padding: 5px 0;
}
.projects-list::-webkit-scrollbar {
  display: hidden;
  height: 0px;
  width: 0px;
  opacity: 0;
  visibility: hidden;
}
.projects-list > .project-item-container:first-child {
  margin-left: 0;
}
.projects-list > .project-item-container:last-child {
  margin-right: 0;
}
.project-item-container {
  flex: 0 0 25%;
  margin: auto 5px;
  display: inline;
  box-shadow: 0px 1px 3px rgba(0,0,0,0.4);
  overflow: hidden;
  position: relative;
  cursor: pointer;
  transition: all 0.35s ease-in-out;
}
.project-item-container:hover .project-item {
  opacity: 0.6;
}
.project-item-container.selected {
  opacity: 0.3;
}
.project-item {
  background-size: cover;
  background-position: center;
  padding-bottom: 56.25%;
  transition: all 0.35s ease-in-out;
}
.project-shown {
  position: relative;
  box-shadow: 0px 1px 3px rgba(0,0,0,0.4);
}
.project-shown .container {
  background-size: cover;
  background-position: center;
  padding-bottom: 56.25%;
}
.project-shown.featured .project-details .title:after {
  content: '🏆';
  margin-left: 5px;
}
.project-details {
  padding: 1rem;
  text-align: left;
  background-color: rgba(51,51,51, 0.95);
  color: #eee;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.project-details .description {
  color: #ccc;
  margin: 8px 0 0 0;
}
.project-details a {
  display: inline-block;
  color: #eee;
  margin: 8px 0 0 0;
}
.project-details a + span {
  margin: 0 8px;
}

@media screen and (min-width: 768px) {
  .project-item-container {
    flex: 1 0 15%;
  }
  .project-details {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
  }
}

.project-enter {
  filter: brightness(0.2);
}

.project-enter.project-enter-active {
  filter: brightness(1);
  transition: filter 200ms ease-in;
}

.project-exit {
  filter: brightness(1);
}

.project-exit.project-exit-active {
  filter: brightness(0.2);
  transition: filter 200ms ease-in;
}