.projects {
  display: flex;
  flex-direction: column;
  padding: 2rem 1rem;
  justify-content: center;
  align-items: center;
  margin: auto;
  max-width: 48rem;
}
.project-shown {
  display: flex;
  align-items: flex-end;
  background-color: #000;
  background-size: contain;
  background-position: top;
  background-repeat: no-repeat;
  min-height: 15rem;
  width: 30rem;
  max-width: 100%;
  box-shadow: 0px 2px 5px rgba(40,40,40,0.4);
  animation: 0.25s 'show-project' ease-in-out;
}
.project-shown > div {
  flex: 1;
  background-color: rgba(40,40,40,0.95);
  color: #eee;
  text-align: left;
  padding: 0.5rem;
}
.shown-title, .shown-description {
  margin: 0;
}
.shown-title {
  font-weight: 500;
}
.shown-description {
  color: #ccc;
}
.shown-links {
  margin-top: 0.5rem;
}
.shown-links a, .shown-links a:visited {
  color: #eee;
}
.shown-links span {
  margin: 0 0.5rem;
}

.projects-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.project-item {
  background-size: cover;
  background-position: top;
  height: 3rem;
  width: 6rem;
  margin: 1rem;
  margin-bottom: 0;
  box-shadow: 0px 2px 2px rgba(40,40,40,0.4);
  cursor: pointer;
  transition: opacity 0.2s ease-in-out;
}
.selected {
  opacity: 0.4;
}
@media screen and (min-width: 450px) {
  .project-shown {
    background-size: cover;
  }
}
@media screen and (min-width: 768px) {
  .projects {
    flex-direction: row;
  }
  .project-shown {
    height: 16rem;
    width: 32rem;
    animation: 0.25s 'show-project-768' ease-in-out;
  }
  .project-shown > div {
    padding: 1rem;
  }
  .projects-list {
    width: 14rem;
    height: 16rem;
    padding: 0 1rem;
    overflow-y: scroll;
  }
  .project-item {
    height: 6rem;
    width: 12rem;
  }
  .project-item:first-child {
    margin-top: 0;
  }
  .project-item:last-child {
    margin-bottom: 0;
  }
}

@keyframes show-project {
  0% {
    opacity: 0.4;
    transform: translateY(7rem) scale(0.2);
  }
}

@keyframes show-project-768 {
  0% {
    opacity: 0.4;
    transform: translateX(15rem) scale(0.2);
  }
}